
:root {
    --color__black:                  #000000;
    --color__white:                  #FFFFFF;
    --color__purple:                 #3E1350;
    --color__dark_purple:            #2E093D;
    --color__light_purple:           #4E006E;
    --color__u_light_purple:           #8E46D2;
    --color__red_poly:               #F90D5D;
    --color__pink:                   #FF2079;
    --color__licorice:               #20071F;
    --color__blue:                   #23274F;
    --color__silver:                 #7F8091;
    --color__ash_white:              #F6F6F6;
    --color__text_heading:           #F6F6F6;

    --color__light_green:            #38B22F;
    --color__dark_blue:                 #111648;

}
