:root {

    // Font Family
    --font-primary : 'Euclid Circular';
    
    // Font sizes
    --base__font-size: 15px;
    --heading__one: 48px;
    --heading__two: 36px;
    --heading__three: 32px;
    --heading__four: 24px;
    --heading__five: 20px;
    --heading__six: 16px;
    
    // line Height
    --font__line-height-body: 1.6;
    --font__line-height-heading: 1.25;
    --font__line-height-paragraph: 1.7;
}